<phpunit bootstrap="./bootstrap.php" colors="true">
        <testsuite name="CC" >
                <directory>./library</directory>
                <directory>./application</directory>
        </testsuite>
        <filter>
                <whitelist>
                        <directory suffix=".php">../application</directory>
                        <directory suffix=".php">../library</directory>
                        <exclude>
                                <directory suffix=".phtml">../application/</directory>
                                <directory suffix=".php">../library/Zend</directory>
                                <file>../application/Bootstrap.php</file>
                        </exclude>
                </whitelist>
        </filter>
        <logging>
                <log type="coverage-html" target="../logs/report" charset="UTF-8"
                yui="true" highlight = "true" lowUpperBound="50" highLowerBound="80" />
        </logging>
</phpunit>